.main-content {
    display: flex;
    flex-direction: column;
    background-color: #bff5b9;
    position: absolute;
    left: 5vw;
    top: 10vh;
    width: 95vw;
    height: 90vh;
    align-items: center;
    justify-items: center;  
    text-align: center;
    z-index: -20;
    
    .prevMButton{
        position: absolute;
        left: 10vw;
        top: 41vh;
        z-index: 0;
        margin: 0%;
        width: 6vw;
        height: 6vw;
        background-color: #000000;
        opacity: 0%;
        border-radius: 100%;
        cursor: pointer;
        transition: opacity 0.2s;
    }
    .prevMButton:hover {
        opacity: 15%;
    }
    .prevMButton:active{
        opacity: 30%;
   }
    .prevMImg{
        position: absolute;
        left: 11vw;
        top: 43vh;
        z-index: -10;
        margin: 0%;
        width: 4vw;
        height: 4vw;
    }
    .nextMButton{
        position: absolute;
        right: 10vw;
        top: 41vh;
        z-index: 0;
        margin: 0%;
        width: 6vw;
        height: 6vw;
        background-color: #000000;
        opacity: 0%;
        border-radius: 100%;
        cursor: pointer;
        transition: opacity 0.1s;
    }
    .nextMButton:hover {
        opacity: 15%;
    }
    .nextMButton:active{
        opacity: 30%;
   }
    .nextMImg{
        position: absolute;
        right: 11vw;
        top: 43vh;
        z-index: -10;
        margin: 0%;
        width: 4vw;
        height: 4vw;
    }
};

.register-main-content {
    display: flex;
    flex-direction: column;
    background-color: #bff5b9;
    position: absolute;
    left: 0vw;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-items: center;  
    text-align: center;
    z-index: -20;
};


.registrationInput {
    border-radius: 10px;
    border: 1px solid black;
    padding: 1vh;
    margin: 1vh;
    height: 5vh;
    width: 20vw;
    font-family: "Kanit";
}

.dotTemplate{
    height: 10%;
    width: 40%;
    border-radius: 5px;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
    &.dot{
        background-color: #00000015;
    }
    &.eventDot {
        background-color: #62006e;
    }
    &.holidayDot {
        background-color: #4083ff;
    }
}
