@keyframes slidein {
    0% {
        transform: translateX(0vw);
        z-index: -10;
    }
    100% {
        transform: translateX(15vw);
        z-index: -10;
    }
}
@keyframes slideout {
    0% {
        transform: translateX(15vw);
        z-index: -10;
    }
    100% {
        transform: translateX(0vw);
        z-index: -10;
    }
}

.widebar {
    position: fixed;
    z-index: -10;
    left: -10vw;
    top: 0;
    width: 15vw;
    height: 100vh;
    background-color: #8bd39b;
};

.expand-widebar {
    animation: 0.5s normal 0s slidein;
    transform: translateX(15vw);
    z-index: -10;
}

.reduce-widebar {
    animation: 0.5s normal 0s slideout;
}

.widebar-input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 2vh;
    width: 10vw;
    font-family: "Kanit";
}

.input-button {
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5vh;
    margin-top: 5vh;
    margin-bottom: 1vh;
    height: 5vh;
    width: 10vw;
    font-family: "Kanit";
    cursor: pointer;
}

.status {
    color: #008000;
}

.login-status {
    text-wrap: balance;
}