$colorPurple: #A020F0;
$colorRed: #FF0000;
$colorBlue: #0000FF;
$colorOrange: #FFA500;

.topbar {
    text-align: center;
    background-color: $colorPurple;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 10vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: $colorRed;
    position: absolute;
    left: 0;
    top: 10vh;
    width: 5vw;
    height: 90vh;
    z-index: 0;
    .settingsButton{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0%;
        z-index: 2;
        margin: 10%;
        width: (5vw * 0.8);
        height: (5vw * 0.8);
    }
    .settingsButtonImg{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        margin: 10%;
        width: (5vw * 0.8);
        height: (5vw * 0.8);
    }
    .eventButton{
        position: absolute;
        left: 0;
        top: 10vh;
        z-index: 2;
        margin: 10%;
        width: (5vw * 0.8);
        height: (5vw * 0.8);
        opacity: 0%;
    }
    .eventButtonImg{
        position: absolute;
        left: 0;
        top: 10vh;
        z-index: 1;
        margin: 10%;
        width: (5vw * 0.8);
        height: (5vw * 0.8);
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: $colorBlue;
    position: absolute;
    left: 5vw;
    top: 10vh;
    width: 95vw;
    height: 90vh;
    align-items: center;
    justify-items: center;  
    text-align: center;
    
    table {
        display: inline-table;
        border-collapse: collapse;
        max-height: 100vh;
        td {
            background-color: aqua;
            $length: calc(90vh * (0.9 / 7));
            height: $length;
            width: $length;
            border: 1px solid;
        };
        .tableHeader{
            background-color: $colorOrange;
            $length: calc(90vh * (0.9 / 7));
            height: $length/2;
        }
    };
    .row {
        display: flex;
        column-gap: calc(90vh * (0.9 / 7));
        margin: 2%;
    }
    .prevMButton{
        position: absolute;
        left: 0%;
        top: 15vh;
        z-index: 2;
        margin: 10%;
        width: (5vw * 0.8);
        height: (5vw * 0.8);
        opacity: 0%;
    }
    .prevMImg{
        position: absolute;
        left: 0%;
        top: 15vh;
        z-index: 1;
        margin: 10%;
        width: (5vw * 0.8);
        height: (5vw * 0.8);
    }
    .nextMButton{
        position: absolute;
        right: 0;
        top: 15vh;
        z-index: 2;
        margin: 10%;
        width: (5vw * 0.8);
        height: (5vw * 0.8);
        opacity: 0%;
    }
    .nextMImg{
        position: absolute;
        right: 0;
        top: 15vh;
        z-index: 1;
        margin: 10%;
        width: (5vw * 0.8);
        height: (5vw * 0.8);
    }
};
