@use "./style-stuff/styles/main-content.scss";
@use "./style-stuff/styles/sidebar.scss";
@use "./style-stuff/styles/topbar.scss";
@use "./style-stuff/styles/widebar.scss";
@use "./style-stuff/styles/fontStuff.scss";
@use "./style-stuff/styles/eventViewer.scss";
@use "./style-stuff/styles/opacityThingy.scss";

html {
    overflow: hidden;
    font-family: "Kanit";
}

button{
    border: 0px;
}

table {
    display: table;
    border-spacing: 0;
    border-collapse: seperate;
    border-radius: 30px;
    td {
        border: 1px solid black;
        background-color: #8bd39b;
        $length: calc(85vh * (0.9 / 7));
        height: $length;
        width: $length;
    };
    .tableHeader{
        background-color: #b8e0c4;
        $length: calc(90vh * (0.9 / 7));
        height: calc($length/2);
    } 
};

.calendarNum:hover {
    opacity: 80%;
}

tr:first-child td:first-child { border-top-left-radius: 30px; }
tr:first-child td:last-child { border-top-right-radius: 30px; }

tr:last-child td:first-child { border-bottom-left-radius: 30px; }
tr:last-child td:last-child { border-bottom-right-radius: 30px; }

small {
    position: absolute;
    font-size: x-small;
    bottom: 2vh;
}

h1 {
    text-align: center;
    margin: 0.5vh;
    padding: 0.5vh;
}

p {
    margin-top: 2vh;
    margin-bottom: 2vh;
}